/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

//@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900';
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: 'SoulMarker';
    src:font-url('SoulMarker_Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src:font-url('Lobster.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LittleDays';
    src:font-url('Littledays.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    color:#333333;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

::selection {
    color: white;
    background: #222;
}

#animatedModal{
    color: white;
}

.btn-primary .btn-raised{
    background: #A36DEF;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8456C3 !important;
    border:none !important;
    font-weight: bold;
    border-radius: 0;
    padding-right:20px;
    padding-left:20px;
    padding-top:12px;
    padding-bottom:12px;
}

.btn-login{
  background: none;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  cursor: pointer;
  border: none;
  font-size:12px;
  text-decoration: underline;
}

 .btn-login:hover{
   color: #8456C3;
 }

 .caption{
   font-family: 'Lobster';
   margin-top:50px;
   color: #8456C3;
   padding-bottom:3%;
   //border-bottom: 3px dotted #8456C3;
   text-align: center;
   font-size: 30px;
 }

 .close-animatedModal i {
   cursor: pointer;
 }

 .close-animatedModal i:hover {
   -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 0.5s ease;
 }

 #circle {
    background-color:#8456C3;
    width:130px;
    height:130px;
    border-radius:100%;
    z-index:10;
    line-height:130px;
    font-size: 20px;
    margin:0 auto;
    transform: translateY(-75px);
    text-align:center;

}

#circle span{
    color: white;
    font-family: 'Lobster';
    line-height: normal;
    display:inline-block;
    vertical-align: middle;
}

#circle-left {
   background-color:#8456C3;
   width:100px;
   height:100px;
   clear:both;
   border-radius:100%;
   z-index:10;
   line-height:100px;
   font-size: 20px;
   margin-left: 5px;
   margin-bottom: 0;
   padding:0;
   transform: translateY(-55px);
   text-align:center;
   cursor:pointer;
   transition-duration: .5s;
   color:white;

}

#circle-left:hover{
  background-color:#fff;
  color: #8456C3;
  clear:both;
  font-size: 30px;
}

#circle-left span{
   font-family: 'Lobster';
   line-height: normal;
   display:inline-block;
   vertical-align: middle;
}

 .container{

      border-top: 7px solid #8456C3;
      width:88%;
      padding-left:7%;
      padding-right:7%;
      padding-bottom: 100px;
      box-shadow: 0 0 30px black;
      background: #fff;
      font-family: 'Raleway', sans-serif;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-top:7%;

  }

  .container-posts{
     width:88%;
     padding-left:7%;
     padding-right:7%;
     padding-bottom: 100px;
     background: #fff;
     font-family: 'Raleway', sans-serif;

   }

.container h1{

  padding:0;
  margin:0;
  color: #333;

}

.container a{
  color: #A388F3;

}


.container h1 a{
  font-weight: 700;
  Color: #333;
}


.item-right{
  position:fixed;
  right: 25px;
  margin: 0;
  top:20px;
  color: #A36DEF;
  padding: 0;
  font-family: 'Raleway';
  font-weight:700;
}

.item-right i, a{
  color:#A36DEF;
}

.jumbo-title{
  font-size: 130px;
  font-weight: 500;
  font-family: 'LittleDays';
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  line-height: .9em;

}

.jumbo-user-name{
  //color:#F16162;
}

.jumbo-content{
  font-size: 25px;
}

.jumbotron-center{
  text-align: center;
  font-family: 'Raleway';
}

.modal-textfield{

		width: 500px;
    background-color: #8456C3;
    border:none;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		text-align: left;
		font-size: 18px;
		color: #fff;
    font-family: 'SoulMarker';
		font-weight: 300;
  }

  .modal-content{
    background: none;
    border: none;
    box-shadow: none;
  }

  .label-static ::-webkit-input-placeholder{
    font-family: 'Roboto';
    color: #A881D9;
    font-size: 14px;
  }

  .label-static input::-webkit-textarea-placeholder{
    font-family: 'Roboto';
    color: #A881D9;
    font-size: 14px;
  }

  .login-textfield input{
    background-color: #8456C3;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    color: white;
    border:none;
    width: 400px;
    margin:5px;
  }

  .login-textfield input::-webkit-input-placeholder{
    font-family: 'Roboto';
    color: #A881D9;
  }

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left:30px;
    font-size: 17px;
}

.post-title{
  font-size: 50px;
  text-align: center;

}

.post-title h1{
  margin:0;
  padding:0;

}

.post-title i {
  font-size: 30px;
}

.post-content{
  padding-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 5%;
  padding-right: 5%;

}

.comments{
  margin-top: 35px;

}

.comments h1{
  font-family: 'Lobster';
  margin-bottom: 15px;

}
.comments h2{
  font-family: 'Raleway';
  font-weight: 200;
  margin-bottom: 15px;

}


  #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
  }

  .list-item-header span{
    font-size: 12px;
    font-family:  'Roboto';
  }

  .list-item-content{
    padding-top: 10px;
    font-size: 18px;
    line-height: 1.6;

  }

  .list-item-title{
    color:#333;

  }

  .list-item-title i{
    font-size: 20px;
    color:#333;

  }

  textarea{
    border: none !important;
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    justify-content: center;

    display: flex;
    align-items: center;

    margin: 0 auto;
  }
