/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

//@import "bootstrap-sprockets";
//@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
    font-family: 'SoulMarker';
    src:font-url('SoulMarker_Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LittleDays';
    src:font-url('Littledays.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    color:#333333;
    margin: 0;
    padding: 0;
}

::selection {
    color: white;
    background: #222;
}

#animatedModal{
    color: white;
}

.btn-primary .btn-raised{
  background: #A36DEF
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #A36DEF !important;
}

.btn-login{
  background: none;
  color: white;
  font-family: "Roboto";
  font-weight: 300;
  cursor: pointer;
  border: none;
  font-size:12px;
  text-decoration: underline;
}

 .btn-login:hover{
   color: #8456C3;
 }

.container{

}

.item-right{
  position:absolute;
  right: 25px;
  margin: 0;
  top:20px;
  color: #A36DEF;
  padding: 0;
}

.item-right i{
  color:#A36DEF;
}

.jumbo-title{
  font-size: 130px;
  font-weight: 500;
  font-family: 'LittleDays';
  margin: 0 auto;
  padding: 0;
  line-height: .9em;

}

.jumbo-user-name{
  //color:#F16162;
}

.jumbo-content{
  font-size: 25px;
}

.jumbotron-center{
  text-align: center;
  font-family: 'SoulMarker';
}

.modal-textfield{

		width: 500px;
    background-color: #8456C3;
    border:none;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		text-align: left;
		font-size: 18px;
		color: #fff;
    font-family: 'SoulMarker';
		font-weight: 300;
  }

  .label-static input::-webkit-input-placeholder{
    font-family: 'Roboto';
    color: #A881D9;
    font-size: 14px;
  }

  .login-textfield input{
    background-color: #8456C3;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    color: white;
    border:none;
    width: 400px;
    margin:5px;
  }

  .login-textfield input::-webkit-input-placeholder{
    font-family: 'Roboto';
    color: #A881D9;
  }



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  justify-content: center;

  display: flex;
  align-items: center;

  margin: 0 auto;
}
